<html>
  <head>
    <title>OMH</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no" />

    {{#if data.showFace}}
      <meta property="og:title" content="Human number {{data.showFace.number}}" />
      <meta property="og:site_name" content="One millions humans"/>
      <meta property="og:url" content="{{data.config.root_url}}/number/{{data.showFace.number}}" />
      <meta property="og:description" content="Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum" />
      <meta property="fb:app_id" content="{{data.config.FACEBOOK_APP_ID}}" />
      <meta property="og:image" content="{{data.config.root_url}}/img/{{data.showFace.number}}-mozaic.jpg" />
    {{else}}
      <meta property="og:title" content="One millions Slots" />
      <meta property="og:site_name" content="One millions humans"/>
      <meta property="og:url" content="{{data.config.root_url}}" />
      <meta property="og:description" content="Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum" />
      <meta property="fb:app_id" content="{{data.config.FACEBOOK_APP_ID}}" />
      <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
    {{/if}}


    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/vendor.css" />
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>
    <script src="/js/vendor.js"></script>
  	<script src="/js/scripts.js"></script>
  </head>
  <body>
    {{{body}}}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3&appId=350563135133896";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  </body>
</html>
