<html>
  <head>
    <title>OMH</title>
    <meta name="viewport" content="maximum-scale=1, initial-scale=1" />

    {{#if data.showFace}}
      <meta property="og:title" content="Human number {{data.showFace.number}}" />
      <meta property="og:site_name" content="One millions humans"/>
      <meta property="og:url" content="https://stark-plateau-2977.herokuapp.com/number/{{data.showFace.number}}" />
      <meta property="og:description" content="Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum" />
      <meta property="fb:app_id" content="{{data.config.FACEBOOK_APP_ID}}" />
      <meta property="og:image" content="https://stark-plateau-2977.herokuapp.com{{data.showFace.picture}}" />
    {{else}}
      <meta property="og:title" content="One millions Slots" />
      <meta property="og:site_name" content="One millions humans"/>
      <meta property="og:url" content="https://stark-plateau-2977.herokuapp.com" />
      <meta property="og:description" content="Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum" />
      <meta property="fb:app_id" content="{{data.config.FACEBOOK_APP_ID}}" />
      <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
    {{/if}}


    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/vendor.css" />
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>
    <script src="/js/vendor.js"></script>
  	<script src="/js/scripts.js"></script>
  </head>
  <body>
    {{{body}}}
    <h1 class="main-logo"><a href="/"><img src="/img/one_million_faces_logo.png" alt="One Million Human Faces"/></a></h1>

    {{#if data.currentUser}}
        <a href="/#edit/" class="profile-button-edit icon-search-outline"></a>
        <a href="/logout" class="profile-button-logout icon-food"></a>
    {{else}}
        <a href="/#login/" class="profile-button-login icon-mail"></a>
    {{/if}}

    <div class="legals-footer">
        <ul>
            <li><a href="/#copright/">Copyright</a></li>
            <li><a href="/#abuse/">Signaler un contenu</a></li>
            <li><a href="/#retract/">Se rétracter</a></li>
            <li><a href="/#faq/">FAQ</a></li>
        </ul>
    </div>
    <div class="search-bar">
        <form id="form-search" action="#" role="search">
            <div class="search-container">

                <div class="search-input-item">
                    <div class="input-group">
                        <input type="text" id="search-field" class="form-control" placeholder="Rechercher...">
                        <span class="input-group-btn">
                            <button class="search-submit btn btn-custom-blue icon-search" type="button"></button>
                        </span>
                    </div>
                    <div class="search-toolbar">
                        <div class="search-reset icon-cancel-squared"></div>
                        <div id="search-field-pagination" class="search-pagination">
                            <div class="search-pagination-label"></div>
                            <div class="search-pagination-button-prev icon-left"></div>
                            <div class="search-pagination-button-next icon-right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="completion-container">
                <div class="completion-result"></div>
            </div>
        </form>
    </div>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3&appId=350563135133896";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  </body>
</html>
