	<div class="loading-container">
		<img id="loading" class="loading" src="http://{{data.config.S3_BUCKET_NAME}}/img/square.gif">
	</div>
	<canvas id="canvas" class="canvas"></canvas>
	<script type="text/javascript">
		var _app;
		var _canvas = document.getElementById("canvas");

		function start() {
			require(['main'],function(main){
				_app = new main([_canvas, {{{json data}}}]);
			});

			$(document).ready(function(){

				{{#if data.error}}
					$('.js-alert').alert();
				{{/if}}

				$('.lang-select').chosen({max_selected_options: 3});

				$('.js-edit-user-submit').on('click', function(e){
					e.preventDefault();
					$('#edit-user').submit();
				});

        $('#edit-user').on('submit', function(e){
          var $form = $(this);
          e.preventDefault();

          console.log('SERIALIZE', $form.serializeArray());

          $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: $form.serializeArray(),
            success: function(data){
              //console.log('DATA', data);
							if($(this).data('register') == 'true'){
								$('.edit-human').hide();
								$('.modal-footer').hide();
								$('.share-register').removeClass('hide');
							}else{
								$('.modal').modal('hide');
							}

            }
          });

        });
      });


		}
		start();
	</script>

<div class="modal-container">
	<div class="modal modal-login fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Login</h4>
	        </div>
        	<div class="modal-body">
						<div class="social-links-container">
							<a href="/login/facebook" class="icon-facebook icon-facebook-squared">Facebook</a>
							<a href="/login/twitter" class="icon-twitter icon-twitter-squared">Twitter</a>
						</div>
					</div>
        	<div class="modal-footer">
					</div>
			</div>
		</div>
	</div>

	<div class="modal modal-share fade" id="modal-share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Share this free human slot</h4>
	        </div>
        	<div class="modal-body">
						<div class="input-group input-group">
							<span class="input-group-addon" id="label-url">Url to share</span>
							<input type="text" class="form-control js-share-url" placeholder="Url to share" aria-describedby="label-url" name="url" value="" />
						</div>

						<iframe border="0" class="js-share-iframe share-iframe" src="" height="200" width="100%"></iframe>

					</div>
        	<div class="modal-footer">
					</div>
			</div>
		</div>
	</div>

	{{#if data.currentUser}}

	<div class="modal modal-edit fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Happy to be here?</h4>
	        </div>
        	<div class="modal-body">

						<div class="edit-human">
							<form id="edit-user" method="post" action="/api/faces/{{data.currentUser._id}}">
		          <div class="input-group input-group">
							  <span class="input-group-addon" id="label-name">Your name</span>
							  <input type="text" class="form-control" placeholder="Your name" aria-describedby="label-name" name="accountname" value="{{data.currentUser.accountname}}">
							</div>

							<div class="input-group input-group">
							  <span class="input-group-addon" id="label-website">your website</span>
							  <input type="text" class="form-control" placeholder="your website" aria-describedby="label-website"  name="website" value="{{data.currentUser.website}}">
							</div>

							<div class="input-group input-group">
							  <span class="input-group-addon" id="label-lang">your language (max. 3)</span>
							  <select data-placeholder="Choose a language..." style="width:350px;" multiple class="lang-select" name="lang">
									<option value="fr">French</option>
									<option value="en">English</option>
									<option value="de">German</option>
									<option value="es">Spanish</option>
									<option value="it">Italian</option>
									<option value="cn">Chinese</option>
								</select>
								<!--input type="text" class="form-control" placeholder="your website" aria-describedby="label-lang" name="lang" value="{{data.currentUser.lang}}">
							</div>
							<div class="input-group input-group">
								<span class="input-group-addon" id="label-occupations">your occupation (max. 3)</span>
								<!--option>student</option>
	              <option>parent</option>
	              <option>worker</option>
	              <option>artist</option>
	              <option>undisclosed</option>
	              <option>geek</option>
	              <option>athlete</option>
	              <option>hype</option>
	              <option>explorer</option>
	              <option>scientist</option-->
								<input name="occupations" type="checkbox" {{checked 'student' data.currentUser.occupations}} id="student" value="student" />
								<label for="student">Student</label>

								<input name="occupations" type="checkbox" {{checked 'parent' data.currentUser.occupations}} id="parent" value="parent" />
								<label for="parent">Parent</label>

								<input name="occupations" type="checkbox" {{checked 'worker' data.currentUser.occupations}} id="worker" value="worker"/>
								<label for="worker">Worker</label>

								<input name="occupations" type="checkbox" {{checked 'artist' data.currentUser.occupations}} id="artist" value="artist"/>
								<label for="artist">Artist</label>

								<input name="occupations" type="checkbox" {{checked 'undisclosed' data.currentUser.occupations}} id="undisclosed" value="undisclosed"/>
								<label for="undisclosed">undisclosed</label>

								<input name="occupations" type="checkbox" {{checked 'geek' data.currentUser.occupations}} id="geek" value="geek"/>
								<label for="geek">Geek</label>

								<input name="occupations" type="checkbox" {{checked 'athlete' data.currentUser.occupations}} id="athlete" value="athlete"/>
								<label for="athlete">Athlete</label>

								<input name="occupations" type="checkbox" {{checked 'hype' data.currentUser.occupations}} id="hype" value="hype"/>
								<label for="hype">Hype</label>

								<input name="occupations" type="checkbox" {{checked 'explorer' data.currentUser.occupations}} id="explorer" value="explorer"/>
								<label for="explorer">Explorer</label>

								<input name="occupations" type="checkbox" {{checked 'scientist' data.currentUser.occupations}} id="scientist" value="scientist"/>
								<label for="scientist">Scientist</label>
							</div>
						</form>
	        </div>
					<div class="share-register hide">
								<p>Help us out by Sharing/sharing on your wall about OMH or maybe even donate a little something to help the project.</p>
								<div class="fb-share-button" data-href="{{data.config.root_url}}/number/{{data.currentUser.number}}" data-layout="button"></div>
								<a class="twitter-share-button" href="https://twitter.com/intent/tweet?url={{data.config.root_url}}%2Fnumber%2F{{data.currentUser.number}}">
									Tweet
								</a>
					</div>
			</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary js-edit-user-submit" name="save">Save changes</button>
        </div>

			</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
	{{/if}}
</div>
<div class="alert-container">
	{{#if data.error}}
		<div class="js-alert alert alert-danger alert-dismissible in" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <strong>Error !</strong> {{data.error}}
		</div>
	{{/if}}
</div>
<h1 class="main-logo"><a href="/"><img src="http://{{data.config.S3_BUCKET_NAME}}/img/one_million_faces_logo.png" alt="One Million Human Faces"/></a></h1>

<div class="menu-container">
	{{#if data.currentUser}}
	<div class="dropdown">
		<a href="{{data.config.root_url}}/#number/{{data.currentUser.number}}"><img src="http://{{data.config.S3_BUCKET_NAME}}{{data.currentUser.picture}}" width="32" height="32" /></a>
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="/#edit/">Edit</a></li>
			<li><a href="/logout">logout</a></li>
		</ul>
	</div>
			<!--a href="/#edit/" class="profile-button-edit icon-user"></a>
			<a href="/logout" class="profile-button-logout">logout</a-->
	{{else}}
			<a href="/#login/" class="icon-user profile-button-login">login</a>
	{{/if}}
</div>

<div class="legals-footer">
		<ul>
				<li><a href="/#copright/">Copyright</a></li>
				<li><a href="/#abuse/">Signaler un contenu</a></li>
				<li><a href="/#retract/">Se rétracter</a></li>
				<li><a href="/#faq/">FAQ</a></li>
		</ul>
</div>
<div class="search-bar">
		<form id="form-search" action="#" role="search">
				<div class="search-container">

						<div class="search-input-item">
								<div class="input-group">
										<input type="text" id="search-field" class="form-control" placeholder="123401, Julien, ....">
										<span class="input-group-btn">
												<button class="search-submit btn btn-custom-blue icon-search" type="button"></button>
										</span>
								</div>
								<div class="search-toolbar">
										<div class="search-reset icon-circle_close"></div>
										<div id="search-field-pagination" class="search-pagination">
												<div class="search-pagination-label"></div>
												<div class="search-pagination-button-prev icon-arrow_left"></div>
												<div class="search-pagination-button-next icon-arrow_right"></div>
										</div>
								</div>
						</div>
				</div>
				<div class="completion-container">
						<div class="completion-result"></div>
				</div>
		</form>
</div>
