	<div class="loading-container">
		<img id="loading" class="loading" src="/img/square.gif">
	</div>
	<canvas id="canvas" class="canvas"></canvas>
	<script type="text/javascript">
		var _app;
		var _canvas = document.getElementById("canvas");

		function start() {
			require(['main'],function(main){
				_app = new main([_canvas, {{{json data}}}]);
			});

			$(document).ready(function(){

        $('#edit-user').on('submit', function(e){
          var $form = $(this);
          e.preventDefault();

          console.log('SERIALIZE', $form.serializeArray());

          $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: $form.serializeArray(),
            success: function(data){
              console.log('DATA', data);
              console.log($form.parent());
              //$form.parent().addClass('hide');

              //$form.parent().parent().find('.info').removeClass('hide');
            }
          });

        });
      });


		}
		start();
	</script>

<div class="modal-container">
	{{#if data.editedFace}}

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
				<form id="edit-user" method="post" action="/api/faces/{{data.editedFace._id}}">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Happy to be here?</h4>
	        </div>
        	<div class="modal-body">

	          <div class="input-group input-group">
						  <span class="input-group-addon" id="label-name">Your name</span>
						  <input type="text" class="form-control" placeholder="Your name" aria-describedby="label-name" name="accountname" value="{{data.editedFace.accountname}}">
						</div>

						<div class="input-group input-group">
						  <span class="input-group-addon" id="label-website">your website</span>
						  <input type="text" class="form-control" placeholder="your website" aria-describedby="label-website"  name="website" value="{{data.editedFace.website}}">
						</div>

						<div class="input-group input-group">
						  <span class="input-group-addon" id="label-lang">your language (max. 3)</span>
						  <input type="text" class="form-control" placeholder="your website" aria-describedby="label-lang" name="lang" value="{{data.editedFace.lang}}">
						</div>
						<div class="input-group input-group">
							<span class="input-group-addon" id="label-occupations">your occupation (max. 3)</span>
							<!--option>student</option>
              <option>parent</option>
              <option>worker</option>
              <option>artist</option>
              <option>undisclosed</option>
              <option>geek</option>
              <option>athlete</option>
              <option>hype</option>
              <option>explorer</option>
              <option>scientist</option-->
							<input name="occupations" type="checkbox" {{checked 'student' data.editedFace.occupations}} id="student" value="student" />
							<label for="student">Student</label>

							<input name="occupations" type="checkbox" {{checked 'parent' data.editedFace.occupations}} id="parent" value="parent" />
							<label for="parent">Parent</label>

							<input name="occupations" type="checkbox" {{checked 'worker' data.editedFace.occupations}} id="worker" value="worker"/>
							<label for="worker">Worker</label>

							<input name="occupations" type="checkbox" {{checked 'artist' data.editedFace.occupations}} id="artist" value="artist"/>
							<label for="artist">Artist</label>

							<input name="occupations" type="checkbox" {{checked 'undisclosed' data.editedFace.occupations}} id="undisclosed" value="undisclosed"/>
							<label for="undisclosed">undisclosed</label>

							<input name="occupations" type="checkbox" {{checked 'geek' data.editedFace.occupations}} id="geek" value="geek"/>
							<label for="geek">Geek</label>

							<input name="occupations" type="checkbox" {{checked 'athlete' data.editedFace.occupations}} id="athlete" value="athlete"/>
							<label for="athlete">Athlete</label>

							<input name="occupations" type="checkbox" {{checked 'hype' data.editedFace.occupations}} id="hype" value="hype"/>
							<label for="hype">Hype</label>

							<input name="occupations" type="checkbox" {{checked 'explorer' data.editedFace.occupations}} id="explorer" value="explorer"/>
							<label for="explorer">Explorer</label>

							<input name="occupations" type="checkbox" {{checked 'scientist' data.editedFace.occupations}} id="scientist" value="scientist"/>
							<label for="scientist">Scientist</label>
						</div>


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name="save">Save changes</button>
        </div>
			</form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
	{{/if}}
</div>
