<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>

    <style>
    body{
      background-color: #dddddd;
      margin: 0px;
      position: relative;
    } 


h1{
  position: absolute;
  top: 130px;
  left: 85px;
  font-size: 400%;
  font-family: 'Roboto', sans serif; 
}



table{
      border-collapse: collapse;
      border: 1px solid #cbcdcd;
      top: 400px; 
    } 

      th{
      font-family: Georgia,Times,Times New Roman,serif;
      border-collapse: collapse;
      font-size: 100%;
      width: 160px;
      padding: 6px;
      text-align: left; 
      border: 1px solid #cbcdcd;
      background-color: #dddddd;
    }

     td{
      font-family: Georgia,Times,Times New Roman,serif;
      border-collapse: collapse;
      text-align: left;
      padding: 10px 0px 10px 10px;
      font-size: 100%;
      border: 1px solid #cbcdcd; 
    }  


.textbox {
  resize: none;
  font-size: 100%;
  font-family: 'Roboto', sans serif;
  margin: 10px 0px 10px 5px;
}


    </style>

<div style="background-color: red;
position: absolute;
height: 40px;
width: 60px;
top: 350px;
left: 73px;
padding: 10px 0px 0px 0px;
color: white;
text-align: center; ">Bob</div>

<div style="background-color: black;
position: absolute;
height: 40px;
width: 100px;
top: 350px;
left: 170px;
padding: 10px 0px 0px 0px;
color: white;
text-align: center; ">Boxie</div>

<div style="background-color: blue;
position: absolute;
height: 70px;
width: 50px;
top: 350px;
left: 310px;
padding: 22px 0px 0px 0px;
color: white;
text-align: center; ">Rex</div>





    <%- include ("../partials/nav.ejs") %>
    <div class="container">
      <h2>Database Results</h2>
      <table>
          <th>Name</th>
          <th>Width</th>
          <th>Height</th>  
          <th>Color</th> 
      </table>
      <% res.forEach(function(r) { %>
       <table>
        <tr>
          <th><%= r.name %></th>
          <th><%= r.width %></th>
          <th><%= r.height %></th>
          <th><%= r.colour %></th>
      </tr> 
      </thead>
    </table>
    <% }); %>
  </body>
</html>