<table id="fourFactors">
    <thead>
    <tr>
        <th></th>
        <th>{{teamName}}</th>
        <th>{{opponentName}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Shooting (eFG%)</td>
        {{#ifCond efgPct '>' oppEfgPct}}
        <td align="right"><strong>{{formatPercent efgPct}}</strong></td>
        <td align="right">{{formatPercent oppEfgPct}}</td>
        {{else}}
        <td align="right">{{formatPercent efgPct}}</td>
        <td align="right"><strong>{{formatPercent oppEfgPct}}</strong></td>
        {{/ifCond}}
    </tr>
    <tr>
        <td>Ball Handling (TO%)</td>
        {{#ifCond tmTovPct '>' oppTovPct}}
        <td align="right"><strong>{{formatPercent tmTovPct}}</strong></td>
        <td align="right">{{formatPercent oppTovPct}}</td>
        {{else}}
        <td align="right">{{formatPercent tmTovPct}}</td>
        <td align="right"><strong>{{formatPercent oppTovPct}}</strong></td>
        {{/ifCond}}
    </tr>
    <tr>
        <td>Off Rebounding (OR%)</td>

        {{#ifCond orebPct '>' oppOrebPct}}
        <td align="right"><strong>{{formatPercent orebPct}}</strong></td>
        <td align="right">{{formatPercent oppOrebPct}}</td>
        {{else}}
        <td align="right">{{formatPercent orebPct}}</td>
        <td align="right"><strong>{{formatPercent oppOrebPct}}</strong></td>
        {{/ifCond}}
    </tr>
    <tr>
        <td>Shooting FTs (FT Rate)</td>
        {{#ifCond ftaRate '>' oppFtaRate}}
        <td align="right"><strong>{{formatPercent ftaRate}}</strong></td>
        <td align="right">{{formatPercent oppFtaRate}}</td>
        {{else}}
        <td align="right">{{formatPercent ftaRate}}</td>
        <td align="right"><strong>{{formatPercent oppFtaRate}}</strong></td>
        {{/ifCond}}
    </tr>
    </tbody>
</table>