<html>
<head>
    <title>Study Hall: {{us.teamName}} {{#if homeGame}}vs.{{else}}at{{/if}} {{them.teamName}} {{formatDate game.gameDateEst}}</title>
    {{> header}}

    <script>$(document).ready(function(){
        $('button#copy').click(function(e) {
            e.preventDefault();
            var html = $('#content').html();

            var div = $('<div></div>');
            div.html(html);
            div.find('div.c3').remove();
            html = div.html();

            $('textarea.copy').remove();
            $('<textarea class="copy"></textarea>').appendTo('body');
            $('textarea.copy').val(html).focus();
            //window.prompt("Copy to clipboard: Ctrl+C", html);
        });
    })
    </script>
</head>
<body>
<div id="content" class="container">
    <h1>{{us.teamName}} {{us.pTS}}, {{them.teamName}} {{them.pTS}} - {{formatDate game.gameDateEst}}</h1>

    <section class="gameFlow"></section>

    <p>[Summary]</p>

    <h2>Four Factors <a title='The "Four Factors" are a measure of how teams win games, as identified by Dean Oliver. Click here to read more.' style="font-size: 0.6em; font-weight:normal;" href="http://www.basketball-reference.com/about/factors.html">(def.)</a></h2>
    <section class="stats">{{> fourFactors}}</section>

    <h2>Team Stats <i style="font-size: 0.7em; font-weight:normal;">(Definitions at bottom of post)</i></h2>
    <section class="stats">{{> teamStats}}</section>


    {{> shotCharts}}



    <h2>Players <i style="font-size: 0.7em; font-weight:normal;">(Definitions at bottom of post, columns sortable)</i></h2>
    <section class="stats players-container">{{> players}}</section>

    <p>&nbsp;</p>
    {{> spursIndex}}

    {{> definitions}}

    {{> gameChart}}
    <script>
        (function($) {
            window.enableToggle = function(link, element, showMessage, hideMessage) {
                element = $(element);
                link = $(link);
                link.click(function(e) {
                    e && e.preventDefault();
                    if ( element.is(':visible') ) {
                        element.hide();
                        link.html(showMessage);
                    } else {
                        element.show();
                        link.html(hideMessage);
                    }
                })
            }

        })(jQuery)
    </script>

    <style type="text/css">

        @media (min-width: 600px) {
            iframe.shotChart {
                width: 400px;
                height: 415px;
                border: none;
            }
        }
        @media (max-width: 600px) {
            iframe.shotChart {
                width: 200px;
                height: 207px;
                border: none;
            }
        }
    </style>
</div>


<button id="copy">Copy HTML</button>

</body>
</html>