<html>
<head>
    <title>Study Hall: {{teams.us.teamName}} {{#if homeGame}}vs.{{else}}at{{/if}} {{teams.them.teamName}} {{formatDate game.gameDateEst}}</title>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script>$(document).ready(function(){
        $('button#copy').click(function(e) {
            e.preventDefault();
            var html = $('#content').html();

            var div = $('<div></div>')
            div.html(html);
            div.find('div.c3').remove()
            html = div.html();
            console.log(html);
            $('textarea.copy').remove();
            $('<textarea class="copy"></textarea>').appendTo('body');
            $('textarea.copy').val(html).focus();
            //window.prompt("Copy to clipboard: Ctrl+C", html);
        });
    })
    </script>
</head>
<body>
<div id="content">
    <h2>{{teams.us.teamName}} {{#if homeGame}}vs.{{else}}at{{/if}} {{teams.them.teamName}} {{formatDate game.gameDateEst}}</h2>
    <h2>{{teams.us.teamName}}: {{teams.us.pTS}} - {{teams.them.teamName}}: {{teams.them.pTS}} </h2>

    <section class="gameFlow"></section>


    <h2>Four Factors <a title='The "Four Factors" are a measure of how teams win games, as identified by Dean Oliver. Click here to read more.' style="font-size: 0.6em; font-weight:normal;" href="http://www.basketball-reference.com/about/factors.html">(def.)</a></h2>
    <section class="stats">{{> fourFactors}}</section>


    <h2>Team Stats <i style="font-size: 0.7em; font-weight:normal;">(Definitions at bottom of post)</i></h2>
    <section class="stats">{{> teamStats}}</section>


    <h2>Players <i style="font-size: 0.7em; font-weight:normal;">(Definitions at bottom of post)</i></h2>
    <section class="stats">{{> players}}</section>

    <h2 title='The Spurs Index is a just-for-fun formula that attempts to quantify just how "Spursy" a particular game is.'>Spurs Index:  {{formatNumber us.spursIndexScore 1}} <a style="font-size: 0.7em; font-style:italic;" href="#spursIndex">(def.)</a></h2>
    <section class="stats">
        {{> spursIndex}}
    </section>


    <section id="definitions" style="font-style: italic;">
        {{> definitions}}
    </section>


    {{> gameChart}}

</div>


<button id="copy">Copy HTML</button>

</body>
</html>