<html>
<head>
    <title>Study Hall: {{us.teamName}} {{#if homeGame}}vs.{{else}}at{{/if}} {{them.teamName}} {{formatDate game.gameDateEst}}</title>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script>$(document).ready(function(){
        $('button#copy').click(function(e) {
            e.preventDefault();
            var html = $('#content').html();

            var div = $('<div></div>');
            div.html(html);
            div.find('div.c3').remove();
            html = div.html();

            $('textarea.copy').remove();
            $('<textarea class="copy"></textarea>').appendTo('body');
            $('textarea.copy').val(html).focus();
            //window.prompt("Copy to clipboard: Ctrl+C", html);
        });
    })
    </script>
</head>
<body>
<div id="content">
    <h2>{{us.teamName}} {{#if homeGame}}vs.{{else}}at{{/if}} {{them.teamName}} {{formatDate game.gameDateEst}}</h2>
    <h2>{{us.teamName}} {{us.pTS}}, {{them.teamName}} {{them.pTS}} </h2>

    <section class="gameFlow"></section>

    <p>[Summary]</p>

    <h2>Four Factors <a title='The "Four Factors" are a measure of how teams win games, as identified by Dean Oliver. Click here to read more.' style="font-size: 0.6em; font-weight:normal;" href="http://www.basketball-reference.com/about/factors.html">(def.)</a></h2>
    <section class="stats">{{> fourFactors}}</section>

    <p>[Content]</p>

    <h2>Team Stats <i style="font-size: 0.7em; font-weight:normal;">(Definitions at bottom of post)</i></h2>
    <section class="stats">{{> teamStats}}</section>

    <p>[Content]</p>

    <h2>Players <i style="font-size: 0.7em; font-weight:normal;">(Definitions at bottom of post, columns sortable)</i></h2>
    <section class="stats players-container">{{> players}}</section>

    <p>[Content]</p>
    {{> spursIndex}}

    <p>[Content]</p>

    <section id="definitions" style="font-style: italic;">
        {{> definitions}}
    </section>


    {{> gameChart}}
    <script>
        function enableToggle(link, element, showMessage, hideMessage) {
            element = $(element);
            link = $(link);
            link.click(function(e) {
                e && e.preventDefault();
                if ( element.is(':visible') ) {
                    element.hide();
                    link.html(showMessage);
                } else {
                    element.show();
                    link.html(hideMessage);
                }
            })
        }
    </script>

</div>


<button id="copy">Copy HTML</button>

</body>
</html>