<table id="players1" border="1" class="sbn-data-table">
    <thead>
    <tr class="ui-state-even">
        <td style="text-align: center;"><b>Player<br></b></td>
        <td style="text-align: center;" title="AdjGS: a take-off of the Game Score metric from basketball-reference.com accepted by a lot of basketball stat nerds. It takes points, assists, rebounds (offensive & defensive), steals, blocks, turnovers and fouls into account to determine an individual's 'score' for a given game. The 'adjustment' in Adjusted Game Score is simply matching the total game scores to the total points scored in the game, thereby redistributing the game's points scored to those who had the biggest impact on the game itself, instead of just how many balls a player put through a basket."><b>AdjGS</b></td>
        <td style="text-align: center;"><b>GmSc/Min</b></td>
        <td style="text-align: center;"><b>Line</b></td>
    </tr>
    </thead>
    <tbody>
    {{#each players}}
    {{#if minutes}}
    <tr>
        <td>{{playerName}}</td>
        <td align="right">{{formatNumber adjGS 1}}</td>
        <td align="right">{{formatNumber adjGSMin 2}}</td>
        <td>
            {{formatMinutes mIN}} Min,
            {{pTS}} Pts
            {{#if pTS}}
                ({{#if fGA}}{{fGM}}-{{fGA}} FG,{{/if}}
                {{#if fG3A}}{{fG3M}}-{{fG3A}} 3PT,{{/if}}
                {{#if fTA}}{{fTM}}-{{fTA}} FT,{{/if}})
            {{/if}}

            {{#if REB}}{{REB}} Reb ({{oREB}} Off){{/if}},
            {{#if aST}}{{aST}} Ast,{{/if}}
            {{#if bLK}}{{bLK}} Blk,{{/if}}
            {{#if sTL}}{{sTL}} Stl,{{/if}}
            {{#if tO}}{{tO}} TO,{{/if}}
            {{#if pF}}{{pF}} PF{{/if}}
        </td>
    </tr>
    {{/if}}
    {{/each}}
    </tbody>
</table>


<table id="players2" border="1" class="sbn-data-table">
    <thead>
    <tr class="ui-state-even">
        <td style="text-align: center;"><b>Player</b></td>
        <td style="text-align: center;" title="This estimates the % of team possessions a player consumes while on the floor (via basketball-reference.com). The usage of those possessions is determined via a formula using field goal and free throw attempts, offensive rebounds, assists and turnovers. The higher the number, the more prevalent a player is (good or bad) in a team's offensive outcome."><b>Usage%</b></td>
        <td style="text-align: center;" title='Floor % answers the question, "when Player X uses a possession, what is the probability that his team scores at least 1 point?". The higher the Floor%, the more frequently the team probably scores when the given player is involved.'><b>Floor%</b></td>
        <td style="text-align: center;"title='A metric that looks at how teams perform with a certain player on the court, how they perform with a certain player off the court, and calculates the overall impact that player has on team success.'><b>Plus Minus</b></td>
    </tr>
    </thead>
    <tbody>
    {{#each players}}
        {{#if floorPercentage}}
            <tr>
                <td>{{playerName}}</td>
                <td align="right">{{#ifCond usgPct '>=' 0.3}}<strong>{{formatPercent usgPct}}</strong>{{else}}{{formatPercent usgPct}}{{/ifCond}}</td>
                <td align="right">{{#ifCond floorPercentage '>=' 0.667}}<strong>{{formatPercent floorPercentage}}</strong>{{else}}{{formatPercent floorPercentage}}{{/ifCond}}</td>
                <td align="right">{{#ifCond plusMinus '>=' 8}}<strong>{{formatNumber plusMinus}}</strong>{{else}}{{formatNumber plusMinus}}{{/ifCond}}</td>
            </tr>
        {{/if}}

    {{/each}}
    </tbody>
</table>

<script src="https://cdn1.vox-cdn.com/uploads/chorus_asset/file/2878066/jquery.tablesorter.min.0.js"></script>
<script>(function($) {
    $('#players1, #players2').tablesorter().find('thead tr td').click(function(){setTimeout(stripeTables, 1)});
})(jQuery);
</script>