<table border="1" class="sbn-data-table" id="spursIndex">
    <thead>
    <tr>
        <th>Factor</th>
        <th>Value</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    {{#each factors}}
        <tr>
            <td align="left" title="{{title}}">{{name}}</td>
            <td {{#if good}} style="color: #5cb85c"{{/if}}
            {{#if bad}} style="color: #d9534f" {{/if}}
            align="right" title="Expected: {{#if percent}}{{formatPercent average 1}}{{else}}{{formatNumber average 1}}{{/if}} (based on 2013-2014 regular season averages)">
            {{#if percent}}{{formatPercent actual 1}}{{else}}{{formatNumber actual 1}}{{/if}}
            </td>
            <td align="right" title="This factor accounts for {{formatPercent weight}} of the Spurs Index score">{{formatNumber score 1}}</td>
        </tr>
    {{/each}}
    <tr>
        <th align="left">Total</th>
        <td colspan="2" align="right">{{formatNumber score 1}}</td>
    </tr>
    </tbody>
</table>