<table border="1" class="sbn-data-table" id="spursIndex">
    <tbody>
    <tr>
        <td style="text-align: center;"><b>Factor</b></td>
        <td style="text-align: center;"><b>Value</b></td>
        <td style="text-align: center;"><b>Score</b></td>
    </tr>
    {{#each teams.us.spursIndexFactors}}
        <tr>
            <td align="left" title="{{title}}">{{name}}</td>
            <td {{#if good}} style="color: #5cb85c"{{/if}}
            {{#if bad}} style="color: #d9534f" {{/if}}
            align="right" title="2013-2014 Average: {{#if percent}}{{formatPercent average 1}}{{else}}{{formatNumber average 1}}{{/if}}">
            {{#if percent}}{{formatPercent actual 1}}{{else}}{{formatNumber actual 1}}{{/if}}
            </td>
            <td align="right" title="This factor accounts for {{formatPercent weight}} of the Spurs Index score">{{formatNumber score 1}}</td>
        </tr>
    {{/each}}
    <tr>
        <td align="left"><b>Total</b></td>
        <td colspan="2" align="right"><strong>{{formatNumber teams.us.spursIndexScore 1}}</strong></td>
    </tr>
    </tbody>
</table>