<table border="1" class="sbn-data-table">
    <tbody>
    <tr>
        <td></td>
        <td width="70" style="text-align: center;"><b>{{us.teamName}}<br></b></td>
        <td width="70" style="text-align: center;"><b>{{them.teamName}}</b></td>
    </tr>
    <tr>
        <td>Pace (No. of Possessions)</td>
        <td colspan="2" align="center">{{formatNumber us.pACE 1}}</td>
    </tr>
    <tr>
        <td>Points Per Possession (PPP)</td>
        <td align="right">{{formatNumber us.pPP 2}}</td>
        <td align="right">{{formatNumber them.pPP 2}}</td>
    </tr>
    <tr>
        <td>Points Per Shot (PPS)</td>
        <td align="right">{{formatNumber us.pPS 2}}</td>
        <td align="right">{{formatNumber them.pPS 2}}</td>
    </tr>
    <tr>
        <td>2-PT FG%</td>
        <td align="right" title="{{us.fG2M}}/{{us.fG2A}}">{{formatPercent us.fg2Pct 1}}</td>
        <td align="right" title="{{them.fG2M}}/{{them.fG2A}}">{{formatPercent them.fg2Pct 1}}</td>
    </tr>
    <tr>
        <td>3-PT FG%</td>
        <td align="right" title="{{us.fG3M}}/{{us.fG3A}}">{{formatPercent us.fg3Pct 1}}</td>
        <td align="right" title="{{them.fG3M}}/{{them.fG3A}}">{{formatPercent them.fg3Pct 1}}</td>
    </tr>
    <tr>
        <td>FT%</td>
        <td align="right" title="{{us.fTM}}/{{us.fTA}}">{{formatPercent us.ftPct 1}}</td>
        <td align="right" title="{{them.fTM}}/{{them.fTA}}">{{formatPercent them.ftPct 1}}</td>
    </tr>
    <tr>
        <td><a target="_blank" href="http://www.ehow.com/how_2092829_calculate-true-shooting-percentage-basketball.html">True Shooting %</a></td>
        <td align="right">{{formatPercent us.tSPct 1}}</td>
        <td align="right">{{formatPercent them.tSPct 1}}</td>
    </tr>

    <tr><td colspan="3"></td></tr>
    <tr>
        <td></td>
        <td width="70" style="text-align: center;"><b>{{us.teamName}}<br></b></td>
        <td width="70" style="text-align: center;"><b>{{them.teamName}}</b></td>
    </tr>

    <tr>
        <td>Uncontested FGA / Poss.</td>
        <td align="right">{{formatPercent us.uncontestedFGAPerPossession 1}}</td>
        <td align="right">{{formatPercent them.uncontestedFGAPerPossession 1}}</td>
    </tr>

    <tr>
        <td title="Points per 100 possessions">Offensive Rating</td>
        <td align="right">{{formatNumber us.offRating 1}}</td>
        <td align="right">{{formatNumber them.offRating 1}}</td>
    </tr>
    <tr>
        <td title="Points allowed per 100 possessions">Defensive Rating</td>
        <td align="right">{{formatNumber us.defRating 1}}</td>
        <td align="right">{{formatNumber them.defRating 1}}</td>
    </tr>
    <tr>
        <td>Net Rating</td>
        <td align="right">{{formatNumber us.netRating 1}}</td>
        <td align="right">{{formatNumber them.netRating 1}}</td>
    </tr>

    <tr>
        <td></td>
        <td align="right"></td>
        <td align="right"></td>
    </tr>

    <tr>
        <td></td>
        <td style="text-align: center;"><b>{{us.teamName}}</b></td>
        <td style="text-align: center;"><b>{{them.teamName}}</b></td>
    </tr>

    <tr>
        <td>Assists</td>
        <td align="right">{{us.aST}}</td>
        <td align="right">{{them.aST}}</td>
    </tr>
    <tr>
        <td>Steals</td>
        <td align="right">{{us.sTL}}</td>
        <td align="right">{{them.sTL}}</td>
    </tr>
    <tr>
        <td>Turnovers</td>
        <td align="right">{{us.tO}}</td>
        <td align="right">{{them.tO}}</td>
    </tr>
    <tr>
        <td>
            <u>B</u>all <u>C</u>ontrol <u>I</u>ndex (BCI)<br><i>(Assists + Steals) / TO</i>
        </td>
        <td align="right">
            {{#ifCond us.bCI '>' 3.5}}
            <strong>{{formatNumber us.bCI 2}}</strong>
            {{else}}
                {{#ifCond us.bCI '<' 1.7}}
                    <strong>{{formatNumber us.bCI 2}}</strong>
                {{else}}
                    {{formatNumber us.bCI 2}}
                {{/ifCond}}
            {{/ifCond}}
        </td>
        <td align="right">
            {{#ifCond them.bCI '>' 3.5}}
                <strong>{{formatNumber them.bCI 2}}</strong>
            {{else}}
                {{#ifCond them.bCI '<' 1.7}}
                    <strong>{{formatNumber them.bCI 2}}</strong>
                {{else}}
                    {{formatNumber them.bCI 2}}
                {{/ifCond}}
            {{/ifCond}}
        </td>
    </tr>

    <tr>
        <td></td>
        <td align="right"></td>
        <td align="right"></td>
    </tr>

    <tr>
        <td></td>
        <td style="text-align: center;"><b>{{us.teamName}}</b></td>
        <td style="text-align: center;"><b>{{them.teamName}}</b></td>
    </tr>
    <tr>
        <td title="How many offensive rebounds an average rebounding team could expect to grab, based off the number of opportunities in a game">Expected Offensive Rebounds</td>
        <td align="right">{{formatNumber us.expectedOREB 1}}</td>
        <td align="right">{{formatNumber them.expectedOREB 1}}</td>
    </tr>
    <tr>
        <td>Offensive Rebounds</td>
        <td align="right">{{formatNumber us.oREB}}</td>
        <td align="right">{{formatNumber them.oREB}}</td>
    </tr>
    <tr>
        <td>Difference</td>
        <td align="right">
            {{#ifCond us.oREBDiffAbs '>' 4}}
                <strong>{{formatNumber us.oREBDiff 1}}</strong>
            {{else}}
                {{formatNumber us.oREBDiff 1}}
            {{/ifCond}}
        </td>
        <td align="right">
            {{#ifCond them.oREBDiffAbs '>' 4}}
                <strong>{{formatNumber them.oREBDiff 1}}</strong>
            {{else}}
                {{formatNumber them.oREBDiff 1}}
            {{/ifCond}}</td>
    </tr>
    </tbody>
</table>