<html>
<head>
    <title>Team Averages - {{team.teamName}}</title>
    <link href="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/2862202/c3.min.0.css" rel="stylesheet" type="text/css">

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/2862214/c3.min.0.js"></script>

    <script>$(document).ready(function(){
        $('button#copy').click(function(e) {
            e.preventDefault();
            var html = $('#content').html();

            var div = $('<div></div>');
            div.html(html);
            div.find('div.c3').remove();
            html = div.html();

            $('textarea.copy').remove();
            $('<textarea class="copy"></textarea>').appendTo('body');
            $('textarea.copy').val(html).focus();
            //window.prompt("Copy to clipboard: Ctrl+C", html);
        });
    })
    </script>
</head>
<body>
<div id="content">
    <h2>{{team.teamName}} Averages</h2>
    {{#if options.with}}
        <p>Games WITH {{#each options.with}}{{#if @index}}, {{/if}}{{this}}{{/each}}</p>
    {{/if}}
    {{#if options.without}}
        <p>Games WITHOUT {{#each options.without}}{{#if @index}}, {{/if}}{{this}}{{/each}}</p>
    {{/if}}
    {{#if options.season}}
        <p>Regular season only</p>
    {{/if}}
    {{#if options.playoffs}}
        <p>Playoffs only</p>
    {{/if}}

    {{#if averages}}
        <h2>Record: {{record}}</h2>

        <h3>Team Stats</h3>
        {{> teamAverageStats}}

        {{> teamCharts}}

        <h3>Game Results</h3>
        <table class="sbn-data-table" border="1">
            <tbody>
            {{#each games}}
                <tr>
                    <td>{{formatDate date 'M/D'}}</td>
                    <td>{{name}}</td>
                    <td>{{result}} {{usPts}}-{{themPts}}</td>
                </tr>
            {{/each}}
            </tbody>

        </table>

    {{else}}
        <p><b>No results found for these filter options</b></p>
    {{/if}}
</div>
</body>
</html>