<html>
<head>
    <title>Team Averages - {{team.teamName}}</title>
    <link href="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/2862202/c3.min.0.css" rel="stylesheet" type="text/css">

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/2862214/c3.min.0.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script>$(document).ready(function(){
        $('button#copy').click(function(e) {
            e.preventDefault();
            var html = $('#content').html();

            var div = $('<div></div>');
            div.html(html);
            div.find('div.c3').remove();
            html = div.html();

            $('textarea.copy').remove();
            $('<textarea class="copy"></textarea>').appendTo('body');
            $('textarea.copy').val(html).focus();
            //window.prompt("Copy to clipboard: Ctrl+C", html);
        });

        $('#clearAll').click(function(e) {
            e.preventDefault();
            $(this).click(false);
            window.location = window.location.pathname;
        });

        var filters = $('#filters');
        var showFilters = $('#showFilters').click(function(e) {
            e.preventDefault();
            filters.show();
            showFilters.hide();
        });
        $('#hideFilters').click(function(e) {
            e.preventDefault();
            filters.hide();
            showFilters.show();
        })
        $('form').submit(function(e) {
            $('button, a').attr('disabled', 'disabled');
            $('form').submit(false);
        });
    })
    </script>

</head>
<body>
<div class="container-fluid" >
    <section class="row">
        <section>
            <button id="showFilters" type="button" class="btn btn-default" {{#if hasOptions}}style="display:none;"{{/if}}>
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
            </button>
        </section>
        <section id="filters" {{#unless hasOptions}}style="display:none;"{{/unless}}>
            <form action="" class="well" method="get">
                <h3>Filter</h3>
                <div class="form-group">
                    <label for="outcome">Outcome</label>
                    <select id="outcome" name="outcome">
                        <option value="">All</option>
                        <option {{#ifCond options.outcome '==' 'win'}}selected="selected"{{/ifCond}}value="win">Win</option>
                        <option {{#ifCond options.outcome '==' 'loss'}}selected="selected"{{/ifCond}}value="loss">Loss</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <select id="location" name="location">
                        <option value="">All</option>
                        <option {{#ifCond options.location '==' 'home'}}selected="selected"{{/ifCond}}value="home">Home</option>
                        <option {{#ifCond options.location '==' 'away'}}selected="selected"{{/ifCond}}value="away">Away</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="season">Season</label>
                    <select id="season" name="season">
                        <option value="">All</option>
                        <option {{#ifCond options.season '==' 'regular'}}selected="selected"{{/ifCond}}value="regular">Regular Season</option>
                        <option {{#ifCond options.season '==' 'playoffs'}}selected="selected"{{/ifCond}}value="playoffs">Playoffs</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="form-group col-md-3">
                        <label>With</label>
                        {{#each roster}}
                            <div class="checkbox">
                                <label>
                                    <input {{checkedIfInArray ../options.with playerId}} type="checkbox" name="with[]" value="{{playerId}}"> {{playerName}}
                                </label>
                            </div>
                        {{/each}}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Without</label>
                        {{#each roster}}
                            <div class="checkbox">
                                <label>
                                    <input {{checkedIfInArray ../options.without playerId}} type="checkbox" name="without[]" value="{{playerId}}"> {{playerName}}
                                </label>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="clearfix"></div>

                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                    <a id="clearAll" href="#">clear</a>
                    <a id="hideFilters" href="#" class="">hide</a>
                </div>
            </form>
        </section>
    </section>

    <div id="content" class="row">
        {{#if averages}}
            <h2>{{team.teamName}}</h2>
            <h3>Record: {{record}}</h3>

            <h4>Team Stats</h4>
            {{> teamAverageStats}}

            {{> teamCharts}}

            <h4>Game Results</h4>
            <table class="table sbn-data-table" border="1">
                <tbody>
                {{#each games}}
                    <tr>
                        <td>{{formatDate date 'M/D'}}</td>
                        <td>{{name}}</td>
                        <td>{{result}} {{usPts}}-{{themPts}}</td>
                    </tr>
                {{/each}}
                </tbody>

            </table>

        {{else}}
            <p><b>No results found for these filter options</b></p>
        {{/if}}
    </div>
</div>

</body>
</html>